.DS_Store
/build/*
/icd.d/*
/explicit_layer.d/*
.cache
/.vscode/*
/subprojects/imgui
/subprojects/inja
/subprojects/imgui-node-editor
/subprojects/packagecache
/subprojects/shader-slang-*/
/subprojects/shader-slang-*.wrap
/subprojects/vulkan-memory-allocator/
/subprojects/efsw/
.gdb_history
.gdbinit

/imgui.ini
/icd.d/*
/explicit_layer.d/*
/build/*
/logs/*
/compiled_shaders/*
/generated_files/*
/compiled_shaders/*
/subprojects/imgui
/subprojects/vkDuck
/subprojects/inja
/subprojects/imgui-node-editor
/subprojects/packagecache
/subprojects/vulkan-memory-allocator
/subprojects/shader-slang-*/
/subprojects/shader-slang-*.wrap
/shaders/*
!/shaders/.gitkeep

/data/textures/*
/data/models/*
!/data/models/.gitkeep
/data/images/*
!/data/images/.gitkeep
/data/meshes/*